/* CSS STYLES STARTS HERE!!! */

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Montserrat", "sans-serif", "arial";
  font-size: 16px;
  color: #000;
}

.clearfix {
  clear: both;
}

#main-container {
  overflow: hidden;
}

/*BURGER NAV STARTS HERE*/

#burger-container {
  display: none;
}

/*BANNER STARTS HERE*/
.b-container {
  position: relative;
  z-index: 1000;
  overflow: hidden;
}

.b-topWrapper {
  position: absolute;
  width: 100%;
  height: 100vh;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
}

.banner-top {
  display: flex;
  align-items: center;
  justify-content: center;
}

.logo-wh {
  margin: 0 50px;
}

.wh {
  color: #fff;
  font-size: 3rem;
  letter-spacing: 11px;
  text-transform: uppercase;
}

.jot {
  color: #fff;
  font-size: 4.5rem;
  font-weight: bold;
  text-transform: uppercase;
  margin: 15px 0 5px 0;
}

.fnoh {
  color: #fff;
  font-size: 1rem;
  font-weight: bold;
  text-transform: uppercase;
}


.banner-bottom {
  height: 100vh;
}

video {
  width: 100%;
  height: 100vh;
  object-fit: cover;
  z-index: 100;
}

.bg-sp {
  width: 100%;
  height: 100vh;
  object-fit: cover;
  z-index: 100;
  display: none;
}

.b-arrow {
  position: absolute;
  bottom: 20px;
  left: 49%;
  z-index: 3;
  cursor: pointer;
  animation: b-arrow 2s infinite;
  -webkit-transition: all 600ms cubic-bezier(0.785, 0.135, 0.15, 0.86);
  transition: all 600ms cubic-bezier(0.785, 0.135, 0.15, 0.86);
}


@keyframes b-arrow {
  0% {
    transform: translateY(0);
  }
  20% {
    transform: translateY(-10px);
  }
  40% {
    transform: translateY(0px);
  }
  75% {
    transform: translateY(-10px);
  }
  100% {
    transform: translateY(0);
  }
}

.b-arrow a {
  display: inline-block;
}



/*HEADER STARTS HERE*/

.navbar-container {
  position: relative;
  width: 100%;
  background: #fff;
  padding: 10px 0;
}

.navbar-wrapper {
  max-width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: auto;
}

.nav-logo-wrapper {
  margin-left: 20px;
}

.nav-logo-wrapper a {
  display: block;
}

.navbar {
  margin-right: 20px;
  text-align: center;
}

.navbar ul {
  list-style-type: none;
  display: flex;
  align-items: center;
}

.navbar ul li a {
    text-decoration: none;
    color: #000;
    font-size: 15px;
    font-weight: 550;
    padding: 5px;
    text-align: center;
}

.navbar ul li a:hover {
    border-bottom: 2px solid #515456;
    transition: .1s linear;
}

.navbar ul li {
  margin: 0 10px;
}

.nav-logo {
  width: 250px;
  height: auto;
  display: inline-block;
}

.sticky {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 5;
  border: 1px solid #ddd;
  -webkit-transition: all .4s;
  -o-transition: all .4s;
  transition: all .4s;
}

.burger-nav{
  display: none;
}

.hamburger {
  display: none;
}

.header {
  position: relative;
  width: 100%;
}

.header-wrapper {
  max-width: 1110px;
  margin: 30px auto;
}

.h-wwaat {
  font-size: 3.3rem;
  font-weight: 700;
  text-transform: uppercase;
  margin: 0 30px;
  padding-top: 50px;
  text-align: center;
  opacity: 0;
}

.h-content1 {
  margin: 50px 30px 0;
  font-size: 18px;
  text-align: center;
  opacity: 0;
}

.h-content1 a {
  color: #e65c00;
}

/*IMAGE GALLERY STARTS HERE*/

.gallery-container {
  width: 100%;
  position: relative;
  overflow: hidden;
  opacity: 0;
}

.gallery-wrapper {
  max-width: 1110px;
  margin: 0 auto;
}

.slider {
  width: 700px;
  height: auto;
  margin-top: 50px;
  margin-left: auto;
  margin-right: auto;
}

.slider-nav {
  max-width: 1110px;
  height: auto;
  margin-bottom: 50px;
  margin-left: auto;
  margin-right: auto;
}

.slick-arrow {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 3;
  outline: none;
  border: none;
  font-size: 24px;
  background: transparent;
}

.slick-prev {
  left: 10px;
  background-image: url(/img/prev.png);
  background-repeat: no-repeat;
  cursor: pointer;
  font-size: 0;
  padding: 23px;
}

.slick-next {
  right: 10px;
  background-image: url(/img/next.png);
  background-repeat: no-repeat;
  cursor: pointer;
  font-size: 0;
  padding: 22px;
}

.slick-disabled {
  opacity: .5;
}

.slider-nav-bg {
  position: relative;
  cursor: pointer;
  margin: 0 3px;
  overflow: hidden;
}

.gllry-img {
  height: auto;
  width: 100%;
  margin: 50px auto 0;
}

.slider-nav-img {
  opacity: 1;
  display: block;
}

/* EMPLOYEE BENEFITS STARTS HERE */

.eb-container {
  position: relative;
  width: 100%;
  overflow: hidden;
}

.eb-wrapper {
  max-width: 1110px;
  margin: 0 auto;
  padding-bottom: 50px;
}

.eb {
  font-size: 3.3rem;
  font-weight: 700;
  text-transform: uppercase;
  text-align: center;
  padding: 50px 20px 0;
  opacity: 0;
}

.eb-icons {
  position: relative;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-row-gap: 20px;
  width: 100%;
  margin-top: 50px;
  opacity: 0;
}
.eb-items {
  display: grid;
  grid-template-columns: .8fr 1.2fr;
  text-align: center;
}
.eb-img-container + div {
    text-align: left;
}

.eb-items p {
  font-size: 1rem;
}

.eb-img-container {
  height: auto;
  display: block;
  text-align: center;
}

/* TECHNOLOGIES STARTS HERE */
.tech-container {
  overflow: hidden;
}

.tech {
  position: relative;
  width: 100%;
  background-image: url("/img/technologiesBg.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.tech-topWrapper {
  max-width: 1280px;
  padding-top: 50px;
  margin: 0 auto;
}

h2.tech-title {
  font-size: 3.3rem;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
  color: #fff;
  margin-bottom: 50px;
  opacity: 0;
}

p.tech-text {
  font-size: 18px;
  text-align: center;
  color: #fff;
  margin: 50px 100px;
  opacity: 0;
}

.tech-midWrapper {
  max-width: 1110px;
  margin: 0 auto;
  padding-bottom: 50px;
}

.tech-icons {
  display: grid;
  grid-gap: 30px;
  grid-template-columns: auto auto auto auto auto;
  text-align: center;
  align-items: center;
  opacity: 0;
}

/* CAREER PATH STARTS HERE */

.cp-container {
  width: 100%;
  background-color: #f5f5f5;
  overflow: hidden;
}

.cp-wrapper {
  max-width: 1280px;
  margin: 0 auto;
}

.car-path-nav {
  position: relative;
  padding-top: 50px;
}

.car-path-menu {
  max-width: 1110px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding-bottom: 50px;
  opacity: 0;
}

.car-path-title {
  text-align: center;
  margin-bottom: 50px;
  opacity: 0;
}

.cp-h2 {
  text-transform: uppercase;
  font-size: 3.3rem;
  font-weight: 700;
}

.cp-nav-link.is-active {
  position: relative;
  background: #f5f5f5;
  border: 4px solid #000;
  border-radius: 2px;
  padding: 6px;
  box-sizing: border-box;
}

.cp-nav-link.is-active:before {
  content: '';
  position: absolute;
  bottom: 0;
  left: 50%;
  border: 20px solid transparent;
  border-top-color: #000;
  border-bottom: 0;
  margin-left: -20px;
  margin-bottom: -20px;
}

.cp-nav-link.is-active:after {
  content: '';
  position: absolute;
  bottom: 6px;
  left: 50%;
  border: 20px solid transparent;
  border-top-color: #f5f5f5;
  border-bottom: 0;
  margin-left: -20px;
  margin-bottom: -20px;
}

.cp-nav-link {
  font-size: 20px;
  font-weight: bold;
  cursor: pointer;
}

.slider {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.slider-container_1 {
  max-width: 1110px;
  margin: 0 auto;
  position: relative;
}

.slider-container_2 {
  max-width: 1110px;
  margin: 0 auto;
  position: relative;
}

.slider-container_3 {
  max-width: 1110px;
  margin: 0 auto;
  position: relative;
}

.slider-container_4 {
  max-width: 1110px;
  margin: 0 auto;
  position: relative;
}

.slider-img {
  width: 50%;
  vertical-align: middle;
}

.content-container {
  width: 45%;
  vertical-align: middle;
}

.cp-content {
  padding: 35px 60px 100px;
  background-color: #e6e6e6;
  box-sizing: border-box;
  width: 100%;
  height: 420px;
}

.cp-content-title {
  text-align: center;
  font-size: 1.8rem;
}

.cp-content-text1 {
  text-align: center;
  font-size: 20px;
}

.cp-content-text2 {
  text-align: justify;
  font-size: 16px;
  margin-top: 20px;
}

.cp-slider {
  display: none;
  opacity: 0;
}

.cp-slider.is-active {
  display: block;
}

/* SERVICES STARTS HERE*/

.serv-wrapper {
  position: relative;
  width: 100%;
}

.serv-title-wrapper {
  max-width: 1110px;
  margin: 0 auto;
}

h2.serv-h2 {
  font-size: 3.3rem;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
  padding: 50px 50px 0;
  opacity: 0;
}

p.serv-p {
  margin: 50px 50px;
  font-size: 18px;
  text-align: center;
  opacity: 0;
}

.serv-icons-wrapper {
  max-width: 1110px;
  margin: 0 auto;
}

.serv-icons1 {
  display: flex;
  text-align: center;
  justify-content: space-around;
}

.serv-icons2 {
  max-width: 1110px;
  margin: 0 auto;
  display: flex;
  text-align: center;
  justify-content: center;
}

.s-icons1 {
  height: 215px;
  width: 28%;
  padding-top: 50px;
  background: linear-gradient(white, #dfdfdf);
  border-radius: 7px;
  box-shadow: 0 5px 30px 0 rgba(0, 0, 0, 0.2);
  margin-bottom: 50px;
  opacity: 0;
}

.s-icons2 {
  height: 215px;
  width: 28%;
  padding-top: 50px;
  background: linear-gradient(white, #dfdfdf);
  border-radius: 7px;
  box-shadow: 0 5px 30px 0 rgba(0, 0, 0, 0.2);
  margin-bottom: 50px;
  opacity: 0;
}

.s-icons2:first-child {
  margin-right: 70px;
}

.s-img {
  height: 120px;
  width: auto;
}

.s-p {
  font-size: 16px;
  font-weight: 600;
  margin-top: 15px;
}

/* INTERESTED STARTS HERE */

.int-container {
  position: relative;
  width: 100%;
}

.inter-wrapper {
  max-width: 1110px;
  margin: 0 auto;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.interested {
  width: 45%;
}

.inter-h2 {
  text-transform: uppercase;
  font-size: 60px;
  font-weight: 700;
}

.inter-p {
  font-size: 22px;
  font-weight: 700;
}

.gitwu a {
  text-decoration: none;
  display: inline-block;
  padding: 19px;
  border-style: solid;
  border-color: #000;
  border-width: 5px;
}

.git-h2 {
  font-size: 42px;
  color: #000;
}

.wrapper {
  position: absolute;
  width: 100%;
  height: 100%;
}

/* MAP STARTS HERE */

.map-container {
  position: relative;
  width: 100%;
}

.gss-map-link {
  position: absolute;
  display: flex;
  top: 10px;
  right: 50px;
}

.gss-map-link p {
  text-decoration: none;
  padding: 4px 8px;
  background-color: #fff;
  margin: 0 2px;
  border-radius: 4px;
  border: 1px solid;
}

.gss-map-link p:hover {
  color: #e65c00;
}

.color {
  color: #e65c00;
}

#gss-map_ph {
  font-weight: 700;
  cursor: pointer;
}

#gss-map_jp {
  font-weight: 700;
  cursor: pointer;
}

.gss-ph-iframe {
  margin-bottom: -4px;
}

.gss-jp-iframe {
  display: block;
  margin-bottom: -4px;
}

.show {
  display: block;
}

.hide {
  display: none;
}

/* FOOTER STARTS HERE */

.footer-container {
  position: relative;
  background-color: #262626;
  padding-top: 10px;
  padding-bottom: 10px;
}

.connect-wrapper {
  max-width: 1280px;
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.connect {
  width: 15%;
}

.connect-p {
  display: inline-block;
  font-size: 14px;
  font-weight: 500;
  color: #fff;
  margin-left: 30px;
  animation: connect-p 3s infinite;
  -webkit-transition: all 600ms cubic-bezier(0.785, 0.135, 0.15, 0.86);
  transition: all 600ms cubic-bezier(0.785, 0.135, 0.15, 0.86);
}

.connect-icons {
  width: 85%;
}

.c-icons {
  height: 25px;
  width: auto;
  margin-right: 12px;
}

#particles-js {
  height: 200px;
  overflow: hidden;
  background: #e65c00;  /* fallback for old browsers */
background: -webkit-linear-gradient(left, #F9D423, #e65c00);
background: -o-linear-gradient(left, #F9D423, #e65c00);
background: linear-gradient(to right, #F9D423, #e65c00);

  /* Chrome 10-25, Safari 5.1-6 */
 /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}

.particles-js-canvas-el {
  width: 100%;
  height: auto;
}

/* ROCKET STARTS HERE */

.rocket-container {
  position: relative;
  width: 100%;
}

.rocket {
  position: fixed;
  bottom: 60px;
  right: 20px;
  animation: rocket 3s infinite;
  -webkit-transition: all 600ms cubic-bezier(0.785, 0.135, 0.15, 0.86);
  transition: all 600ms cubic-bezier(0.785, 0.135, 0.15, 0.86);
  z-index: 1;
  display: none;
}

@keyframes rocket {
  0% {
    transform: translateY(0);
  }
  20% {
    transform: translateY(-10px);
  }
  40% {
    transform: translateY(-5px);
  }
  75% {
    transform: translateY(-15px);
  }
  100% {
    transform: translateY(0);
  }
}

.rocket a {
  text-decoration: none;
}

.rocket a:hover {
    text-shadow: 2px 2px 5px #ddd;
}

.rocket-p {
  color: #000;
  font-size: 10px;
  font-weight: 800;
  text-transform: uppercase;
  text-decoration: none;
}

.gss-ph-iframe .directions-card-medium-large {
  display: none !important;
}

.gm-inset-map.gm-inset-map-small.gm-inset-light {
  display: none;
}

.profile-photo.profile-photo-light {
  display: none;
}

.gmnoprint.gm-bundled-control.gm-bundled-control-on-bottom {
  display: none;
}

/* HOVER FUNCTIONS STARTS HERE */

.img-hov:hover {
    -ms-transform: scale(1.1);
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
    transition: .3s
}

.img-hov {
  overflow: hidden;
}

.slider .cp-imgSP {
  display: none;
}

.gitwu a:hover {
  background: #f46b45;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #eea849, #f46b45);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #eea849, #f46b45); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  cursor: pointer;
}

.c-icons:hover {
  transform: translateY(-2px);
  transition-duration: .1s;
}


@media screen and (max-width: 1024px) {
  .inter-h2 {
    text-transform: uppercase;
    font-size: 50px;
    font-weight: 700;
  }
  .inter-p {
    font-size: 24px;
    font-weight: 700;
  }
  .git-h2 {
    font-size: 4vw;
    color: #000;
  }
  .cp-content-text2 {
    font-size: 12px;
  }
  .connect {
    width: 25%;
  }
  .connect-icons {
    width: 80%;
  }
  .tech-icons {
    grid-template-columns: auto auto auto auto;
    margin: 0 30px;
  }

}

@media screen and (max-width: 991px) {
  .logo-wh {
    width: 180px;
    height: auto;
  }
  .wh {
    font-size: 30px;
  }
  .jot {
    font-size: 40px;
  }
  p.serv-p {
    text-align: justify;
  }
  .inter-p {
    font-size: 18px;
  }

  .rocket-container img {
    width: 55px;
  }

  .rocket-p {
    font-size: 9px;
  }
}


@media screen and (max-width: 886px) {

  .tech-icons {
    grid-template-columns:auto auto auto auto;
    margin: 0 30px;
  }

  .burger-nav ul li a {
    font-size: 1rem;
  }

}

@media screen and (max-width: 768px) {
  .logo-wh {
    width: 140px;
    height: auto;
  }
  .wh {
    font-size: 24px;
  }
  .jot {
    font-size: 32px;
  }
  .fnoh {
    font-size: 12px;
  }
  .slider .cp-img {
    display: none;
  }
  .slider .cp-imgSP {
    display: block;
  }
  .h-content1 {
    text-align: justify;
    margin: 50px 30px 0;
  }
  .tech-icons {
    grid-template-columns: auto auto auto;
    margin: 0 30px;
  }
  .interested {
    margin-bottom: 20px;
    padding-left: 10px;
  }
  .inter-h2 {
    text-align: center;
    font-size: 6vw;
  }
  .inter-p {
    font-size: 16px;
  }
  .git-h2 {
    font-size: 4vw;
  }
  .lightbox .lb-image {
    display: block;
    width: 500px !important;
    height: auto !important;
  }
  .slider {
    width: 100%;
    display: block;
  }
  .slider-img {
    width: 100%;
  }
  .content-container {
    width: 100%;
  }
  .cp-content {
    height: 250px;
  }
  .slider.slick-slide {
    display: block;
  }

  .slick-slide img {
    margin: 0 auto;
    max-width: 100%;
  }
  .cp-nav-menu {
    text-align: center;
    margin: 0 10px;
  }
  .cp-h2 {
    font-size: 32px;
  }
  h2.tech-title {
    font-size: 32px;
    margin-bottom: 0;
  }
  .h-content1 {
    font-size: 16px;
  }
  p.tech-text {
    font-size: 14px;
  }
  .cp-container .slick-slide img {
    margin: 0 auto;
    max-width: 65%;
  }
  .eb {
    font-size: 32px;
  }
  .eb-items p {
    font-size: 12px;
  }
  h2.serv-h2 {
    font-size: 32px;
  }
  .serv-title p {
    font-size: 16px;
  }
  .h-wwaat {
    font-size: 32px;
  }
  .gitwu {
    padding: 10px;
    border-width: 3px;
    width: 55%;
  }
  .int-container p {
    text-align: center;
    font-size: 12px;
  }
  .connect {
    width: 25%;
  }
  .connect-icons {
    width: 65%;
    margin: 0 20px;
  }

  .rocket-container img {
    width: 45px;
  }

  .rocket-p {
    font-size: 8px;
  }


  .hamburger {
    display: inline-block;
    padding: 10px 10px 0;
    margin-right: 20px;
    position: absolute;
    top: 5px;
    right: 5px;
  }

  .burger-img {
    width: 50px;
  }

  .navbar {
    display: none;
  }

  .navbar-wrapper {
    justify-content: space-between;
  }

  .burger-nav {
    display: none;
    position: absolute;
    right: 0;
    width: 20%;
    line-height: 3;
    font-size: 16px;
    text-decoration: none;
    z-index: 10;
    background: #fff;
    height: 100vh;
    margin-top: 10px;
  }

  .burger-nav ul li {
    list-style-type: none;
  }

  .burger-nav a {
    display: block;
    padding: 10px 20px;
    text-decoration: none;
    color: #000;
    font-weight: 500;
  }

  .burger-nav a:hover {
    background: #ddd;
  }

  .pre-container {
    position: relative;
    overflow: hidden;
  }

  .overlay {
  position: absolute;
  background: #000000ad;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: -1;
  width: 100%;
  opacity: 0;
  transition: all .3s;
  }

  .overlay.reveal {
    opacity: 1;
    z-index: 4;
  }


  .burger-nav {
    width: 30%;
    -webkit-transform: translateX(100%);
    -ms-transform: translateX(100%);
    transform: translateX(100%);
    transition: all .3s linear;
    display: block;
    opacity: 0;
  }

  .burger-nav.reveal {
    -webkit-transform: translateX(0%);
    -ms-transform: translateX(0%);
    transform: translateX(0%);
    opacity: 1;
  }

  .b-arrow {
    left: 48%;
  }

  .header {
    padding-top: 0;
  }

  .underline{
    text-decoration: underline;
  }


}

@media screen and (max-width: 568px) {

  video {
    display: none;
  }

  .bg-sp {
    display: block;
  }


  .banner-top {
    display: block;
    text-align: center;
  }

  .logo-wh {
    margin-bottom: 30px;
  }

  .wh {
    font-size: 16px;
  }

  .jot {
    font-size: 36px;
    margin: 0;
  }

  .fnoh {
    font-size: 10px;
  }

  .rocket-container img {
    width: 40px;
  }

  .rocket-p {
    font-size: 7px;
  }


  p.tech-text {
    text-align: justify;
    margin: 30px;
  }

  .serv-icons1 {
    flex-direction: column;
    max-width: 1110px;
    margin: 0 auto;
  }

  .s-icons1 {
    width: 60%;
    margin: 0 auto 50px;
  }

  .serv-icons2 {
    flex-direction: column;
    max-width: 1110px;
    margin: 0 auto;
  }

  .s-icons2 {
    width: 60%;
    margin: 0 auto 50px;
  }

  .s-icons2:first-child {
    margin-right: auto;
  }

  .lightbox .lb-image {
    display: block;
    width: 300px !important;
    height: auto !important;
  }

  .cp-content-text2 {
    font-size: 12px;
  }

  .cp-content {
    height: 270px;
  }

  .gss-map-link {
    display: block;
  }

  .car-path-menu {
    width: 350px;
    height: 40px;
    overflow-x: scroll;
    white-space: nowrap;
    margin: 0 auto;
    padding-bottom: 30px;
    justify-content: flex-start;
  }

  .cp-nav-link {
    font-size: 14px;
  }

  .slick-next {
    padding: 14px;
  }

  .slick-prev {
    padding: 14px;
  }

  .slick-arrow {
    background-size: 100%;
  }

  .cp-content-title {
    font-size: 24px;
  }

  .cp-content-text1 {
    font-size: 16px;
  }

  p.serv-p {
    font-size: 14px;
  }

  .inter-p {
    font-size: 16px;
    margin: 0 30px;
  }

  .gss-map-link {
    display: flex;
    top: 95px;
    right: 0px;
  }

  .inter-wrapper {
    display: block;
    text-align: center;
  }

  .interested {
    width: 100%;
    margin-top: 30px;
  }

  .connect {
    width: 45%;
  }

  .connect-icons {
    width: 55%;
    margin: 0;
  }

  .eb-icons {
    grid-template-columns: 1fr;
  }

  .eb-items {
    grid-template-columns: 1fr 1fr;
  }

  .burger-nav ul li a {
    font-size: 10px;
    margin-left: 10px;
  }

  .tech-icons {
    grid-template-columns: auto auto;
  }

  .burger-nav {
    width: 30%;
  }

  .b-arrow {
    left: 47%;
  }

  .gitwu {
    width: 100%;
  }

  .tech-icons .tech-img {
    width: auto;
    height: 65px;
  }

  .connect-p {
    margin-left: 20px;
  }

}

@media screen and (max-width: 450px) {
  .cp-content {
    height: 360px;
  }
  .connect {
    width: 50%;
  }
  .connect-icons {
    width: 50%;
    margin: 0;
  }

  .tech-icons {
    margin: 0 10px;
  }

  .burger-nav {
    width: 40%;
  }

  .burger-nav ul li a {
    margin-left: 5px;
  }

  .b-arrow {
    left: 48%;
  }

  .tech-icons .tech-img {
    width: auto;
    height: 60px;
  }


}

@media screen and (max-width: 375px) {

  .tech-icons .tech-img {
  width: auto;
  height: 50px;
}

  .b-arrow {
    left: 45%;
  }


}

@media screen and (max-width: 350px) {
  .cp-content {
      height: 400px;
  }
}
