/* CSS STYLES STARTS HERE!!! */
:root {
    --main-bg-color: ;
}

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  color: #444;
  line-height: 1.5;
}

.team-container {
    width: 100vw;
}


.clearfix {
  clear: both;
}

#main-container {
  overflow: hidden;
}

/*BURGER NAV STARTS HERE*/

#burger-container {
  display: none;
}

/*BANNER STARTS HERE*/
.b-container {
  position: relative;
  z-index: 1000;
  overflow: hidden;
}

.b-topWrapper {
  position: absolute;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
}

.banner-top {
  display: flex;
  align-items: center;
  justify-content: center;
}

.logo-wh {
  margin: 0 50px;
}

.wh {
  font-family: 'montserrat';
  color: #fff;
  font-size: 3rem;
  font-weight: 300;
  letter-spacing: 5px;
  text-transform: uppercase;
}

.jot {
  font-family: 'montserrat';
  color: #fff;
  font-size: 4.5rem;
  text-transform: uppercase;
  margin: 0;
  position: relative;
  top: -8px;
}

.fnoh {
  color: #fff;
  font-size: 1rem;
  font-weight: bold;
  text-transform: uppercase;
  position: relative;
  top: -8px;
}


.banner-bottom {
  height: 100vh;
}

video {
  width: 100%;
  height: 100vh;
  object-fit: cover;
  z-index: 100;
}

.bg-sp {
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: 100;
  display: none;
}

.b-arrow {
  position: absolute;
  bottom: 20px;
  left: 49%;
  z-index: 3;
  cursor: pointer;
  animation: b-arrow 2s infinite;
  -webkit-transition: all 600ms cubic-bezier(0.785, 0.135, 0.15, 0.86);
  transition: all 600ms cubic-bezier(0.785, 0.135, 0.15, 0.86);
}


@keyframes b-arrow {
  0% {
    transform: translateY(0);
  }
  20% {
    transform: translateY(-10px);
  }
  40% {
    transform: translateY(0px);
  }
  75% {
    transform: translateY(-10px);
  }
  100% {
    transform: translateY(0);
  }
}

.b-arrow a {
  display: inline-block;
}



/*HEADER STARTS HERE*/

.navbar-container {
  position: relative;
  width: 100%;
  background: #fff;
  padding: 10px 0;
}

.navbar-wrapper {
  max-width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: auto;
}

.nav-logo-wrapper {
  margin-left: 20px;
}

.nav-logo-wrapper a {
  display: block;
}

.navbar {
  margin-right: 20px;
  text-align: center;
}

.navbar ul {
  list-style-type: none;
  display: flex;
  align-items: center;
}

.navbar ul li a {
    text-decoration: none;
    color: #000;
    font-size: 15px;
    font-weight: 500;
    padding: 5px;
    text-align: center;
}

.navbar ul li a:hover {
    border-bottom: 2px solid #515456;
    transition: .1s linear;
}

.navbar ul li {
  margin: 0 10px;
}

.nav-logo {
  width: 250px;
  height: auto;
  display: inline-block;
}

.sticky {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 5;
  border: 1px solid #ddd;
  -webkit-transition: all .4s;
  -o-transition: all .4s;
  transition: all .4s;
}

.burger-nav{
  display: none;
}

.hamburger {
  display: none;
}

.header {
  position: relative;
  width: 100%;
}

.header-wrapper {
  max-width: 1110px;
  margin: 30px auto;
}

.h-wwaat {
  font-family: 'montserrat';
  font-size: 3rem;
  font-weight: 700;
  text-transform: uppercase;
  margin: 0 30px;
  padding-top: 50px;
  text-align: center;
  opacity: 0;
  color: #000;
}

.h-content1 {
  margin: 20px 30px 0;
  text-align: center;
  opacity: 0;
  line-height: 2;
}

.h-content1 a {
  color: #e65c00;
}

/*IMAGE GALLERY STARTS HERE*/

.gallery-container {
  width: 100%;
  position: relative;
  overflow: hidden;
  opacity: 0;
}

.gallery-wrapper {
  max-width: 1110px;
  margin: 0 auto;
}

.slider {
  width: 700px;
  height: auto;
  margin-top: 50px;
  margin-left: auto;
  margin-right: auto;
}

.slider-nav {
  max-width: 1110px;
  height: auto;
  margin-bottom: 50px;
  margin-left: auto;
  margin-right: auto;
}

.slick-arrow {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 3;
  outline: none;
  border: none;
  font-size: 24px;
  background: transparent;
}

.slick-prev {
  top: 50%;
  left: -15px;
  background-image: url(/img/careerPrev.png);
  background-repeat: no-repeat;
  background-size: contain;
  height: 30px;
  width: 30px;
  cursor: pointer;
  font-size: 0;
  opacity: .7;
}
.slick-prev:hover {
  opacity: 1;
  transition: .5s
}

.slick-next {
  top: 50%;
  right: -30px;
  background-image: url(/img/careerNext.png);
  background-repeat: no-repeat;
  background-size: contain;
  height: 30px;
  width: 30px;
  cursor: pointer;
  font-size: 0;
  opacity: .7;
}
.slick-next:hover {
  opacity: 1;
  transition: .5s;
}

.slider-nav-bg {
  position: relative;
  cursor: pointer;
  margin: 0 3px;
  overflow: hidden;
}

.gllry-img {
  height: auto;
  width: 100%;
  margin: 50px auto 0;
}

.slider-nav-img {
  opacity: 1;
  display: block;
}

/* EMPLOYEE BENEFITS STARTS HERE */

.ep-container {
  position: relative;
  width: 100%;
  height: 100vh;
}

.ep-wrapper {
  max-width: 1110px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}
.left-block_e-perks{
  width: 45%;
  opacity: 0;
}
.right-block_e-perks{
  width: 50%;
  opacity: 0;
}
h2.title_e-perks {
  margin-top: 38px;
  margin-bottom: 40px;
  margin-left: 20px;
  font-family: "montserrat";
  font-weight: 700;
  font-size: 3rem;
  color: #000;
}
.list_e-perks {
  list-style-type: none;
}
.left-block_e-perks ul li {
  height: 88px;
  margin-left: 20px;
  margin-bottom: 30px;
  position: relative;
}

.left-block_e-perks ul li img,
.left-block_e-perks ul li span,
.left-block_e-perks ul li p {
  position: absolute;
}
.left-block_e-perks ul li img {
  top: 0;
}
.left-block_e-perks ul li span {
  top: -5px;
  left: 80px;
  font-weight: bold;
  color: #ffa500;
  letter-spacing: 1px;
}

.left-block_e-perks ul li p {
  top: 20px;
  left: 80px;
  line-height: 1.5;
  text-align: justify;
  margin-top: 5px;
}

.right-block_e-perks {
  position: relative;
}
.right-block_e-perks::before {
  content: "";
  height: 445px;
  width: 490px;
  position: absolute;
  top: 100px;
  right: 10px;
  background: #fff8e0;
}
.right-block_e-perks img {
  position: absolute;
}
.right-block_e-perks img:first-child {
  top: 30px;
  right: 30px;
  width: 300px
}
.right-block_e-perks img:nth-child(2n) {
  top: 185px;
  right: 240px;
  width: 265px;
}
.right-block_e-perks img:last-child {
  top: 315px;
  right: 0;
  width: 330px;
}



/* TECHNOLOGIES STARTS HERE */
.tech-container {
  overflow: hidden;
}

.tech {
  position: relative;
  width: 100%;
  background-image: url("/img/technologiesBg.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.tech-topWrapper {
  max-width: 1280px;
  padding-top: 50px;
  margin: 0 auto;
}

h2.tech-title {
  font-size: 3.3rem;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
  color: #fff;
  margin-bottom: 50px;
  opacity: 0;
  font-family: 'montserrat';
}

p.tech-text {
  font-size: 18px;
  text-align: center;
  color: #fff;
  margin: 50px 100px;
  opacity: 0;
}

.tech-midWrapper {
  max-width: 1110px;
  margin: 0 auto;
  padding-bottom: 50px;
}

.tech-icons {
  display: grid;
  grid-gap: 30px;
  grid-template-columns: auto auto auto auto auto;
  text-align: center;
  align-items: center;
  opacity: 0;
}

/* CAREER PATH STARTS HERE */

.cp-container {
  width: 100%;
  height: 100vh;
  background-color: #fff;
  overflow: hidden;
}

.cp-wrapper {
  max-width: 1110px;
  margin: 90px auto;
  display: flex;
  justify-content: space-between;
    position: relative;
}

.slider-container_1 {
  width: 100%;
  margin-top: -64px;
}
.content-container {
  width: 100%;
  vertical-align: middle;
}

.cp-content {
  padding: 35px 30px;
  background-color: #fff;
  box-sizing: border-box;
  height: 420px;
}

.cp-content-title {
  font-size: 1.8rem;
  color: #ffa500;
}

.cp-content-text2 {
  text-align: justify;
  font-size: 16px;
  margin-top: 20px;
  line-height: 2;
}

.left-block_cp {
  width: 45%;
  position: relative;
  opacity: 0;
}
.left-block_cp::before {
  content: "";
  height: 565px;
  width: 70%;
  position: absolute;
  top: -25px;
  left: 70px;
  background: #e1f2dd;
}
.left-block_cp img {
  position: absolute;
  width: 100%;
}
.left-block_e-perks ul li img:nth-child(1n) {
  width: 50px;
}
.right-block_cp {
  width: 55%;
  opacity: 0;
}

h2.title_cp {
  margin-left: 30px;
  font-family: "montserrat";
  font-weight: 700;
  font-size: 3rem;
  color: #000;
}

/* SERVICES STARTS HERE*/
.serv-container {
  position: relative;
  width: 100%;
  height: 100vh
}
.serv-wrapper {
  max-width: 1110px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}

.left-block{
  position: relative;
}

.left-block {
  width: 50%;
  opacity: 0;
}

.left-block::before {
  content: "";
  height: 650px;
  width: 500px;
  position: absolute;
  top: 0;
  left: -150px;
  background: #e8f9fe;
}

.left-block img {
  margin-top: 60px;
  width: 80%;
  position: absolute;
  margin-left: 20px;
}

h2.serv-title {
  margin-top: 50px;
  margin-bottom: 15px;
  font-family: "montserrat";
  font-weight: 700;
  font-size: 3rem;
  color: #000;
}

.right-block {
  width: 50%;
  padding: 0 20px;
  opacity: 0;
}

.right-block_list {
  list-style-type: none;
  margin-top: 20px;
}

.right-block ul li {
  height: 88px;
  position: relative;
}

.right-block ul li::before {
  content: "";
  height: 1px;
  width: 86%;
  background: #ddd;
  position: absolute;
  right: 0;
  bottom: 0;
}

.right-block ul li img,
.right-block ul li span {
  position: absolute;
}
.right-block ul li img {
  top: 50%;
  transform: translateY(-50%);
}

.right-block ul li span {
  top: 50%;
  left: 80px;
  transform: translateY(-50%);
  font-size: 14px;
}

.right-block p {
  text-align: justify;
  line-height: 2;
}


/* INTERESTED STARTS HERE */

.int-container {
  position: relative;
  width: 100%;
}

.inter-wrapper {
  max-width: 1110px;
  margin: 0 auto;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.interested {
  width: 45%;
}

.inter-h2 {
  text-transform: uppercase;
  font-size: 60px;
  font-weight: 700;
  font-family: 'montserrat';
  color: #000;
}

.inter-p {
  font-size: 22px;
  font-weight: 700;
  font-family: 'montserrat';
  color: #000;
}

.gitwu a {
  text-decoration: none;
  display: inline-block;
  padding: 19px;
  border-style: solid;
  border-color: #000;
  border-width: 5px;
}

.git-h2 {
  font-size: 42px;
  color: #000;
  font-family: 'montserrat';
}

.wrapper {
  position: absolute;
  width: 100%;
  height: 100%;
}

/* MAP STARTS HERE */

.map-container {
  position: relative;
  width: 100%;
}

.gss-map-link {
  position: absolute;
  display: flex;
  top: 10px;
  right: 50px;
}

.gss-map-link p {
  text-decoration: none;
  padding: 4px 8px;
  background-color: #fff;
  margin: 0 2px;
  border-radius: 4px;
  border: 1px solid;
}

.gss-map-link p:hover {
  color: #e65c00;
}

.color {
  color: #e65c00;
}

#gss-map_ph {
  font-weight: 700;
  cursor: pointer;
}

#gss-map_jp {
  font-weight: 700;
  cursor: pointer;
}

.gss-ph-iframe {
  margin-bottom: -4px;
}

.gss-jp-iframe {
  display: block;
  margin-bottom: -4px;
}

.show {
  display: block;
}

.hide {
  display: none;
}

/* FOOTER STARTS HERE */

.footer-container {
  position: relative;
  background-color: #262626;
  padding-top: 10px;
  padding-bottom: 10px;
}

.connect-wrapper {
  max-width: 1280px;
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.connect {
  width: 15%;
}

.connect-p {
  display: inline-block;
  font-size: 14px;
  font-weight: 500;
  color: #fff;
  margin-left: 30px;
  animation: connect-p 3s infinite;
  -webkit-transition: all 600ms cubic-bezier(0.785, 0.135, 0.15, 0.86);
  transition: all 600ms cubic-bezier(0.785, 0.135, 0.15, 0.86);
}

.connect-icons {
  width: 85%;
}

.c-icons {
  height: 25px;
  width: auto;
  margin-right: 12px;
}

#particles-js {
  height: 200px;
  overflow: hidden;
  background: #e65c00;  /* fallback for old browsers */
background: -webkit-linear-gradient(left, #F9D423, #e65c00);
background: -o-linear-gradient(left, #F9D423, #e65c00);
background: linear-gradient(to right, #F9D423, #e65c00);

  /* Chrome 10-25, Safari 5.1-6 */
 /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}

.particles-js-canvas-el {
  width: 100%;
  height: auto;
}

/* ROCKET STARTS HERE */

.rocket-container {
  position: relative;
  width: 100%;
}

.rocket {
  position: fixed;
  bottom: 60px;
  right: 20px;
  animation: rocket 3s infinite;
  -webkit-transition: all 600ms cubic-bezier(0.785, 0.135, 0.15, 0.86);
  transition: all 600ms cubic-bezier(0.785, 0.135, 0.15, 0.86);
  z-index: 1;
  display: none;
}

@keyframes rocket {
  0% {
    transform: translateY(0);
  }
  20% {
    transform: translateY(-10px);
  }
  40% {
    transform: translateY(-5px);
  }
  75% {
    transform: translateY(-15px);
  }
  100% {
    transform: translateY(0);
  }
}

.rocket a {
  text-decoration: none;
}

.rocket a:hover {
    text-shadow: 2px 2px 5px #ddd;
}

.rocket-p {
  color: #000;
  font-size: 10px;
  font-weight: 800;
  text-transform: uppercase;
  text-decoration: none;
}

.gss-ph-iframe .directions-card-medium-large {
  display: none !important;
}

.gm-inset-map.gm-inset-map-small.gm-inset-light {
  display: none;
}

.profile-photo.profile-photo-light {
  display: none;
}

.gmnoprint.gm-bundled-control.gm-bundled-control-on-bottom {
  display: none;
}

/* HOVER FUNCTIONS STARTS HERE */

.img-hov:hover {
    -ms-transform: scale(1.1);
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
    transition: .3s
}

.img-hov {
  overflow: hidden;
}

.slider .cp-imgSP {
  display: none;
}

.gitwu a:hover {
  background: #f46b45;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #eea849, #f46b45);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #eea849, #f46b45); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  cursor: pointer;
}

.c-icons:hover {
  transform: translateY(-2px);
  transition-duration: .1s;
}


@media screen and (max-width: 1024px) {

  .inter-h2 {
    text-transform: uppercase;
    font-size: 50px;
    font-weight: 700;
  }
  .team-container {
      width: 100vw;
  }
  .inter-p {
    font-size: 24px;
    font-weight: 700;
  }
  .git-h2 {
    font-size: 4vw;
    color: #000;
  }
  .cp-content-text2 {
    font-size: 12px;
  }
  .connect {
    width: 25%;
  }
  .connect-icons {
    width: 80%;
  }
  .tech-icons {
    grid-template-columns: auto auto auto auto;
    margin: 0 30px;
  }

}

@media screen and (max-width: 991px) {
  .logo-wh {
    width: 180px;
    height: auto;
  }
  .wh {
    font-size: 30px;
  }
  .jot {
    font-size: 40px;
  }
  p.serv-p {
    text-align: justify;
  }
  .inter-p {
    font-size: 18px;
  }

  .rocket-container img {
    width: 55px;
  }

  .rocket-p {
    font-size: 9px;
  }

  .left-block_e-perks {
    width: 50%;
  }
  .right-block_e-perks {
    width: 40%;
  }
  .right-block_e-perks::before {
    width: 90%;
  }
  .right-block_e-perks img:first-child {
    width: 75%;
    top: 80px;
  }
  .right-block_e-perks img:nth-child(2n) {
    width: 65%;
    top: 230px;
    right: 155px;
  }
  .right-block_e-perks img:last-child {
    width: 80%;
    top: 330px;
  }
  h2.title_e-perks {
    font-size: 2.5rem;
  }
  h2.tech-title {
    font-size: 2.5rem;
  }
  h2.title_cp {
    font-size: 2.5rem;
  }
  h2.serv-title {
    font-size: 2.5rem;
  }
  .left-block_cp-img {
    width: 100%;
  }
  .left-block_cp::before {
    width: 60%;
    height: 470px;
  }


}


@media screen and (max-width: 886px) {

  .tech-icons {
    grid-template-columns:auto auto auto auto;
    margin: 0 30px;
  }

  .burger-nav ul li a {
    font-size: 1rem;
  }

}

@media screen and (max-width: 768px) {
    .team-container {
        width: 100vw;
    }
  .logo-wh {
    width: 140px;
    height: auto;
  }
  .wh {
    font-size: 24px;
  }
  .jot {
    font-size: 32px;
  }
  .fnoh {
    font-size: 12px;
  }
  .h-content1 {
    text-align: justify;
    margin: 20px 30px 0;
  }
  .tech-icons {
    grid-template-columns: auto auto auto;
    margin: 0 30px;
  }
  .interested {
    padding-left: 10px;
  }
  .inter-h2 {
    text-align: center;
    font-size: 6vw;
  }
  .inter-p {
    font-size: 16px;
  }
  .git-h2 {
    font-size: 4vw;
  }
  .lightbox .lb-image {
    display: block;
    width: 500px !important;
    height: auto !important;
  }
  .slider {
    width: 100%;
    display: block;
  }
  .slider-img {
    width: 100%;
  }
  .content-container {
    width: 100%;
  }
  .cp-content {
    height: 250px;
  }
  .slider.slick-slide {
    display: block;
  }

  .slick-slide img {
    margin: 0 auto;
    max-width: 100%;
  }
  .cp-nav-menu {
    text-align: center;
    margin: 0 10px;
  }
  h2.tech-title {
    font-size: 3rem;
    margin-bottom: 0;
  }
  .h-content1 {
    font-size: 16px;
  }
  p.tech-text {
    font-size: 14px;
  }
  .cp-container .slick-slide img {
    margin: 0 auto;
    max-width: 65%;
  }
  h2.serv-h2 {
    font-size: 32px;
  }
  .serv-title p {
    font-size: 16px;
  }
  .h-wwaat {
    font-size: 2.4rem;
  }
  .gitwu {
    padding: 10px;
    border-width: 3px;
    width: 55%;
  }
  .int-container p {
    text-align: center;
    font-size: 12px;
  }
  .connect {
    width: 25%;
  }
  .connect-icons {
    width: 65%;
    margin: 0 20px;
  }

  .rocket-container img {
    width: 45px;
  }

  .rocket-p {
    font-size: 8px;
  }
  .hamburger {
    display: inline-block;
    padding: 10px 10px 0;
    margin-right: 20px;
    position: absolute;
    top: 5px;
    right: 5px;
  }

  .burger-img {
    width: 50px;
  }

  .navbar {
    display: none;
  }

  .navbar-wrapper {
    justify-content: space-between;
  }

  .burger-nav {
    display: none;
    position: absolute;
    right: 0;
    width: 20%;
    line-height: 3;
    font-size: 16px;
    text-decoration: none;
    z-index: 10;
    background: #fff;
    height: 100vh;
    margin-top: 10px;
  }

  .burger-nav ul li {
    list-style-type: none;
  }

  .burger-nav a {
    display: block;
    padding: 10px 20px;
    text-decoration: none;
    color: #000;
    font-weight: 500;
  }

  .burger-nav a:hover {
    background: #ddd;
  }

  .pre-container {
    position: relative;
    overflow: hidden;
  }

  .overlay {
  position: absolute;
  background: rgba(0,0,0,0.5);
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: -1;
  width: 100%;
  opacity: 0;
  transition: all .3s;
  }

  .overlay.reveal {
    opacity: 1;
    z-index: 4;
  }


  .burger-nav {
    width: 30%;
    -webkit-transform: translateX(100%);
    -ms-transform: translateX(100%);
    transform: translateX(100%);
    transition: all .3s linear;
    display: block;
    opacity: 0;
  }

  .burger-nav.reveal {
    -webkit-transform: translateX(0%);
    -ms-transform: translateX(0%);
    transform: translateX(0%);
    opacity: 1;
  }

  .b-arrow {
    left: 48%;
  }

  .header {
    padding-top: 0;
  }

  .underline{
    text-decoration: underline;
  }


    .ep-container {
      margin: 50px 0 50px;
    }
    .left-block {
      display: none;
    }
    .right-block {
      width: 100%;
      padding: 0 20px;
    }
    h2.serv-title {
      text-align: center;
      font-size: 2.4rem;
      margin-top: 40px;
    }
    .left-block_e-perks {
      width: 100%;
      margin: 50px 20px 0;
  }
    .right-block ul li::before {
      width: 90%;
    }

    .left-block_e-perks {
      width: 100%;
      margin: 0 20px 0;
    }
    .right-block_e-perks {
      display: none;
    }

    h2.title_e-perks {
      font-size: 2.4rem;
      margin-left: 0;
      text-align: center;
    }
    .left-block_e-perks ul li {
    margin-left: 0;
    }
    h2.tech-title {
    font-size: 2.4rem;
    margin-bottom: 20px;
    }
    .left-block_cp {
      display: none;
    }
    .right-block_cp {
      width: 100%;
    }
    .cp-content-title {
      text-align: center;
    }
    .cp-content-text2 {
      font-size: 18px;
    }
    h2.title_cp {
      font-size: 2.4rem;
      margin-left: 0;
      text-align: center;
    }
    .content-container {
      width: 85%;
      margin: 0 auto;
    }
    .cp-content {
      height: 500px;
    }

    .slick-prev {
      left: 25px;
    }
    .slick-next {
      right: 15px;
    }

}

@media screen and (max-width: 568px) {

  video {
    display: none;
  }

  .bg-sp {
    display: block;
  }


  .banner-top {
    display: block;
    text-align: center;
  }

  .logo-wh {
    margin-bottom: 30px;
  }

  .wh {
    font-size: 16px;
  }

  .jot {
    font-size: 36px;
    margin: 0;
  }

  .fnoh {
    font-size: 10px;
  }

  .rocket-container img {
    width: 40px;
  }

  .rocket-p {
    font-size: 7px;
  }


  p.tech-text {
    text-align: justify;
    margin: 30px;
  }

  .lightbox .lb-image {
    display: block;
    width: 300px !important;
    height: auto !important;
  }

  .cp-content-text2 {
    font-size: 12px;
  }

  .cp-content {
    height: 270px;
  }

  .gss-map-link {
    display: block;
  }

  .cp-nav-link {
    font-size: 14px;
  }

  .slick-next {
    padding: 14px;
  }

  .slick-prev {
    padding: 14px;
  }

  .cp-content-title {
    font-size: 24px;
  }

  .cp-content-text1 {
    font-size: 16px;
  }

  p.serv-p {
    font-size: 14px;
  }

  .inter-p {
    font-size: 16px;
    margin: 0 30px;
  }

  .gss-map-link {
    display: flex;
    top: 198px;
    left: 50px;
  }

  .inter-wrapper {
    display: block;
    text-align: center;
    margin: -15px auto;
  }

  .interested {
    width: 100%;
    margin-top: 30px;
  }

  .connect {
    width: 45%;
  }

  .connect-icons {
    width: 55%;
    margin: 0;
  }

  .burger-nav ul li a {
    font-size: 10px;
    margin-left: 10px;
  }

  .tech-icons {
    grid-template-columns: auto auto;
  }

  .burger-nav {
    width: 30%;
  }

  .b-arrow {
    left: 47%;
  }

  .gitwu {
    width: 100%;
  }

  .tech-icons .tech-img {
    width: auto;
    height: 65px;
  }

  .connect-p {
    margin-left: 20px;
  }
  .right-block p {
    font-size: 14px;
  }
  .right-block ul li::before {
      width: 82%;
  }
  .left-block_e-perks ul li p {
  font-size: 12px;
}

  .h-wwaat {
    font-size: 2rem;
  }

  .h-content1 {
    font-size: 14px;
    margin-top: 20px;
  }

  h2.serv-title {
    font-size: 2rem;
  }
  h2.title_e-perks {
    font-size: 2rem;
  }
  h2.tech-title {
    font-size: 2rem;
  }
  h2.title_cp {
    font-size: 2.2rem;
  }
  .cp-container {
    height: 100%;
  }
  .serv-container {
    height: 100%;
  }
  .ep-container {
    height: 100%;
  }
}

@media screen and (max-width: 450px) {
    .team-container {
        width: 100vw;
    }
  .cp-content {
    height: 360px;
  }
  .connect {
    width: 50%;
  }
  .connect-icons {
    width: 50%;
    margin: 0;
  }

  .tech-icons {
    margin: 0 10px;
  }

  .burger-nav {
    width: 40%;
  }

  .burger-nav ul li a {
    margin-left: 5px;
  }

  .b-arrow {
    left: 46%;
  }

  .tech-icons .tech-img {
    width: auto;
    height: 60px;
  }


}
@media screen and (max-width: 411px) {
    .team-container {
        width: 100vw;
    }
}
@media screen and (max-width: 375px) {
  .right-block ul li::before {
    width: 75%;
}

  .tech-icons .tech-img {
  width: auto;
  height: 50px;
}

.team-container {
    width: 100vw;
}

  .b-arrow {
    left: 45%;
  }

}

@media screen and (max-width: 360px) {
    .team-container {
        width: 100vw;
    }
}

@media screen and (max-width: 350px) {
  .cp-content {
      height: 400px;
  }

  .team-container {
      width: 100vw;
  }
  .left-block_e-perks ul li span {
    font-size: 14px;
  }

}

@media screen and (max-width: 320px) {
  .team-container {
      width: 100vw;
  }
  .hamburger {
    margin-right: 0;
  }

}
